.tabbut {
  background-color: #666699;
  border: none;
  padding: 25px 150px;
  transition: 0.3s;
  font-size: 17px;
  margin: 1px;
  cursor: pointer;
  color: white;
}

.tabbut:hover {
  background-color: #9999ff;
}

.header {
  background: darkseagreen;
  height: 180px;
  width: 1500px;
  text-align: center;
  
}

.header p {
  color: white;
  font-size: 18px;
}

.header h1 {
  color: white;
  font-size: 45px;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px;
  font-family: 'Times New Roman', serif;

}

.content {
  background: beige;
  width: 1500px;
  min-height: 1400px;
  margin: 0;
}

.footer {
  background: darkseagreen;
  width: 1480px;
  height: 50px;
  margin: 0;
  text-align: center;
  padding: 10px;
}

.footer p{
  color: white;
  font-size: 18px;
}

