.header {
  width: 100%;
  max-width: 1300px;
  background-color: skyblue;
  padding: 30px;
  border-radius: 0px;
  text-align: center;
}

.header h1 + p {
  text-align: left;
  color: black;
  font-family: "Lucida Console", "Courier New", monospace;
  margin: 1;
  font-size: 25px;
}

body {
  flex-direction: column;
  align-items: left; 
  margin: 0;
  padding: 0;
  background-size: cover; 
  background-position: center center; 
  display: flex;
  font-family: "Lucida Console", "Courier New", monospace;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: beige; 
  padding: 30px;
  border-radius: 0px;
  height: 100%;
  width: 100%;  
  align-items: left; 
  max-width: 1300px;
  padding-top: 20px;
  flex-grow: 1;
}

.footer {
  margin-top: auto;
  border: 1px solid black;
  text-align: left;
  background-color: #F0FFFF;
  padding: 10px;
  width: 100%;
  max-width: 1320px;
  font-size: 16px;
}

.tabs {
  width: 100%;
  max-width: 1360px;
  background-color: #666699; 
  padding: 0px; 
  text-align: center;
}

.tabbut {
  background-color: #666699;
  border: none;
  padding: 25px 150px;
  transition: 0.3s;
  font-size: 17px;
  margin: 1px;
  cursor: pointer;
  color: white;
}

.tabbut:hover {
  background-color: #9999ff;
}

h1 {
  text-align: center;
  color: black;
  font-family: "Lucida Console", "Courier New", monospace;
  margin: 1;
}

p {
  font-size: 16px;
}
