.container {
  /*! min-width:1900px; */
}

.options {
  justify-content: space-between;
  display: flex !important;
  min-width: 700px;
}

#upcoming {
  overflow: auto;
  gap: 20px;
  padding: 20px;
  scroll-behavior: smooth;
  display: flex;
  max-width: 1350px;
  margin: auto;
}

#gridView {
  transition: background-color 0.2s, transform 0.1s;
  cursor: pointer;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.2);
}

button:active {
  transform: scale(0.95);
}

.active {
  background-color: blue !important;
  color: white !important;
  transform: scale(1.05);
}

#gridView:hover {
  background-color: #444;
  color:white;
}


#listView {
  transition: background-color 0.2s, transform 0.1s;
  cursor: pointer;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.2);
}

#listView:hover {
  background-color: #444;
  color:white;
}

#searchbutton:hover {
  background-color: ;
  color:white;
}

#results {
  max-width: 1000px;
  margin: auto;
  padding-top: 10px;
}

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  background-color: #404040;
  color: white;
  font-size: 18px;
}

#movieInfo {
  /*! text-align: center; */
  background-color: grey;
  color: white;
  padding: 10px;
  border-radius: 20px;
  padding-left: 150px;
  padding-right: 150px;
  padding-top:20px;
  /*! width: 1300px; */
  border-radius: 20px;
}

#movieInfo img {
  border-radius: 20px;
}

.movie {
  width: auto;
  background-color:grey;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.250);
  padding-left: 25px;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease, transform 0.6s ease;
}

.movie.show {
  opacity: 1;
  transform: translateY(0);
}

.movie:hover{
  color:black;
  background-color: #B0AEAE;
  cursor: pointer;
}

.movie:selection {
  background-color: #yellow;
}

.movie p{
  font-size: 17px;
}

body {
  display: flex;;
  background-color: #404040;
  color: white;
  font-size: 18px;
  flex-direction: column;
  margin: 0px;
}

.content {
  min-height: 1400px;
  min-height: 1000px;
  height:auto;
  display: flex;
  flex-direction: column;
  align-items: center; 
  /*! padding: 30px; */
  padding-top: 8px;
}

.grid-item {
  text-align: center;
}

#results.list {
  display: block;
  width:100%;
}
#results.grid {
  padding-bottom: 15px;
}

.list-item {
  display: flex;
  margin-bottom: 5px;
}

.list-item img {
  width: 100px;
}

.list-item .movie-info {
  text-align: left;
}

.movie.list-item {
  display:-webkit-box;
}

.movie.

.content h2{
  text-align: center;
}

.footer {
  background: black;
  padding: 15px;
  text-align: center;
  font-size: 16px;
  border-radius: 10px;
}

@media (max-width: 450px) {
  .navbar {
    min-width: 400px;
    flex-flow:column 
  }
  
  .container {
    width: auto;
  }
  
  .footer {
    width:350px;
    border-radius:10px;
  }

  .content{
    font-size:15px;
    min-height:auto;
    padding:0px;
  }
  .movie img{
    height:150px;
    width:100px;
  }
  .movie{
    font-size:10px;
    height:auto;
  }
  .movie p{
    display:none;
  }
  
  #movieInfo h2{
    font-size:20px;
  }
  #movieInfo p{
    font-size:14px;
  }
  #movieInfo img{
    height:180px;
    width:120px;
  }
  #movieInfo{
    width:auto;
    padding:10px;
    padding-top:10px;
  }
  #userinput{
    width: auto;
  }

  .options{
    min-width:0px;
    display: contents;
  }
  #pagination{
    
  }
  .pagebutton{
    height:30px;
    width:30px;
    font-size: 12px;
    padding:0px;
  }
  
  #tableView {
    height:30px;
    width:40px;
    font-size: 12px;
    padding:0px;
  }
  
  #gridView{
    height:38px;
    width:35px;
    font-size: 12px;
    margin-left:5px;
    padding:0px;
  }
  #listView{
    height:38px;
    width:35px;
    font-size: 12px;
    padding:0px;
  }
  #results.list{
    min-width:380px;
  }
  #results img{
    height:100px;
    width:60px;
  }
  
  .options {
    align-items:inherit;
    margin:10px;
    
    flex-flow: column;
  }
  
  #movieInfo img{
    height:150px;
    width:100px;
  }
  
  #movieInfo h2{
    font-size:15px;
  }
  #movieInfo p{
    font-size:12px;
  }

  .list-item {
    gap:5px;
    padding:3px;
    margin:2px;
    margin-bottom:5px;
  }
  
  #upcoming{
    gap:3px;
    width:340px;
  }
  #results.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    /*! gap: 30px; */
    max-width: 380px; 
    margin: auto;
  }
  .grid-item{
    width:150px;
    padding:2px;
    align-items: center;
  }
  
  #searchbutton {
    min-width:20px;
  }
  
  #userinput {
    width:20px;
  }
}

@media (max-width: 850px) {
  #upcoming {
    width:700px;
  }
  .container {
    width:700px;
  }
}




