.tabs {
}

.tabbut {
}

.tabbut:hover {
  background-color: powderblue;
}

.header {

  background: #5E5E5E;
  height: 180px;
  text-align: center;
}

.header p {

}

.header h1 {

}

body {

  display: flex;
  flex-direction: column;
  margin: 0px;
  background-color: #404040;
  color: white;
  font-size: 18px;
}

.content {

  min-height: 1400px;
}

.footer {

  background: black;
  padding: 15px;
  text-align: center;
}

.footer p{

}

