.tabs {
}

.tabbut {
}

.tabbut:hover {
  background-color: powderblue;
}

.header {
  background: #5E5E5E;
  height: 180px;
  text-align: center;
}

.header p {

}

.header h1 {

}

#results {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
  gap: 30px;
  max-width: 1400px;
  margin: auto;
}

#pagination {
  display: flex;
  justify-content: center; 
  gap: 10px;              
  padding: 20px;
}

.movie img{
  border-radius: 10px;
}

.movie {
  background-color:grey;
  padding: 20px;
  border-radius: 10px;
}

.pageBtn {
  width:50px;
  height:50px;
  background-color: white;
  margin: 8px;
  padding:10px;
  border-radius:50%;
  display: inline-flex;  
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s, transform 0.1s;
}

.pageBtn:hover {
  background-color: #444;
  color:white;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0px;
  background-color: #404040;
  color: white;
  font-size: 18px;
}

.content {
  min-height: 1400px;
}

.content h2{
  text-align: center;
}

.footer {
  background: black;
  padding: 15px;
  text-align: center;
}

.footer p{

}

